/* .thumbnail {
  width: 50%;
} */
.article {
  position: relative;
  padding-bottom: 4rem !important;
}
.photo-credit {
  position: absolute;
  bottom: 1rem;
  font-style: italic;
}
.collapsable {
  cursor: pointer;
}
.collapsable-hidden {
  max-height: 0;
  overflow: hidden;
  padding: 0 !important;
}
.content img {
  max-height: 300px;
}
.box .is-flex-grow-1 {
  max-width: fit-content;
}
